:root {
  --fg: #000;
  --bg: #000;

  --blue: #fff;
  --white: #00ff00;
  --red: #fff;
  --yellow: #ffffff;
}

body {
  background-color: var(--bg);
  color: var(--red);
  font-family: "Lexend Exa";
  text-align: center;
  padding-top: 50px;
  line-height: 10x;
}

ul {
  list-style-type: none;
  text-align: center;
  padding: 5px 5px;
}

li {
  color: var(--white);
}

#links_container li,
a {
  color: var(--white);
  text-decoration: none;
  transition: all 0.4s;
}

#links_container li {
  font-size: 16px;
}

#links_container a:hover {
  color: var(--blue);
  transition: all 0.4s;
}
